<div class="container-fluid">
    <div class="header">
        <h2 class="text-center">Start Your Day With Some Inspiration</h2>
        <br>
        <p class="text-center"> In order to be irreplaceable one must always be different.</p>
    </div>
    <br>

    <div class="">
        <div  *ngFor='let quote of quotes;let i = index'>
            <div class= "text-center  toogle">
                <p><i class="fas fa-quote-left"></i>{{quote.name}}  <i class="fas fa-quote-right"> &nbsp;&nbsp;&nbsp; </i>{{quote.completeDate|date|uppercase}}</p>
                <br>
                <button (click)='toggleDetails(i)'>See More</button>
                <app-quote-detail *ngIf='quote.showAuthor' [quote]='quote' (isComplete)='deleteQuote($event,i)'>
                </app-quote-detail>
            </div>
        
        </div>
    </div>

    <br>
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>

</div>