.container{
    padding: 0;
    margin: 0;
   
}
.header {
    background: rgb(36, 0, 25);
    background: radial-gradient(circle, rgb(36, 2, 31) 0%, rgb(121, 9, 93) 0%, rgb(255, 0, 255) 100%);
    color: white;
    padding-bottom: 7%;
  }