<div class="container-fluid">
    <h2 class="text-center">Inspire Someone</h2>
    <hr>
    <form>
        <div class="form-group">
  
            <label for="name">Quote</label>
            <input type="text" required class="form-control" id="name">
  
        </div>
        <div class="form-group">
  
            <label for="author">Quote author</label>
            <textarea class="form-control" id="author" rows="1" required></textarea>
  
        </div>
        <div class="form-group">
            <label for="complete">Add Quote</label>
            <br>
            <input type='date' id="complete" required>
  
        </div>

    </form>
  </div>
